<div class="main-page">
  <mat-card style="display: grid; place-items: center;">
    <mat-card-title>Welcome to FilmFever</mat-card-title>
    <mat-card-actions>
      <button
        mat-raised-button
        (click)="openUserRegistrationDialog()"
        style="margin-right: 10px"
        color="primary"
      >
        Sign Up
      </button>
      <button
        mat-raised-button
        (click)="openUserLoginDialog()"
        style="margin-right: 10px"
        color="primary"
      >
        Login
      </button>
    </mat-card-actions>
  </mat-card>
  </div>
