<div class="movie-list-container">
  <mat-card *ngFor="let movie of movies; let i = index" style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
    <mat-card-header>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
      <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-dialog-content>
      <mat-card-subtitle
        ><img src="{{ movie.ImagePath }}" alt={{movie.Title}} width="200px"
      /></mat-card-subtitle>
      <mat-card-actions style="display: flex; align-items: center;
      justify-content: center;">
        <button mat-button style="color: #8a2be2;" (click)="getMovieGenre(movie.Genre.Name)">Genre</button>
        <button mat-button style="color: #8a2be2;" (click)="getMovieDirector(movie.Director.Name)">Director</button>
        <button mat-button style="color: #8a2be2;" (click)="getMovieSynopsis(movie._id)">Synopsis</button>
          <mat-icon *ngIf="favCheck(movie._id); else notInFavorites"class="favorite"  (click)="toggleFavoriteMovies(movie._id, movie.Title)" matTooltip="Remove from favorites" aria-label="Button that removes movie to favorites list">favorite</mat-icon>
          <ng-template #notInFavorites>
            <mat-icon class="favorite" (click)="toggleFavoriteMovies(movie._id, movie.Title)" matTooltip="Add to favorites" aria-label="Button that adds movie to favorites list">favorite_border</mat-icon>
          </ng-template>
      </mat-card-actions>
    </mat-dialog-content>
  </mat-card>
</div>
